<!DOCTYPE html>
<html ng-app="myFirstNgApp">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body ng-controller="myFirstController">

    <input type="text" ng-model="character">
    <button ng-click="makeAPIcall(character)">Search</button>

    <div class="" ng-repeat="result in results">
      <p>Character name: {{result.name}}</p>
      <p>Birth year: {{result.birth_year}}</p>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js" charset="utf-8"></script>
    <script src="app.js" charset="utf-8"></script>
  </body>
</html>
